/*--------------------------------------------------------------
## Streamer About
--------------------------------------------------------------*/
.about-wrapper {
    padding-top: 150px;
    padding-bottom: 86px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 0;
    background-attachment: fixed;

    @include mq($phone + 1, min) {
        padding-top: 185px;
		padding-bottom: 107px;
    }

    @include mq($tablet + 1, min) {
        padding-top: 233px;
		padding-bottom: 128px;
    }
}

.about-title {
    
    h1.entry-title {
        font-weight: 500;
        text-align: center;
        font-size: 36px;
        margin: 0 auto 58px;
		position: relative;
        max-width: 360px;

		@include mq($phone + 1, min) {
			font-size: 54px;
            max-width: none;
			margin-bottom: 68px;
		}

		@include mq($tablet + 1, min) {
			font-size: 72px;
            margin-bottom: 78px;
		}

        &::after {
            position: absolute;
			content: '';
			background-color: $main-blue;
			height: 6px;
			width: 100px;
			left: 0;
			right: 0;
			bottom: -26px;
			margin: 0 auto;

			@include mq($phone + 1, min) {
				bottom: -31px;
			}

			@include mq($tablet + 1, min) {
				bottom: -36px;
			}
        }
    }
}

.about-content {
	
	.fcc {
		font-size: 20px;
		line-height: 1.167;
		text-align: center;
		margin-bottom: 76px;
		
		span {
			color: $main-blue;
			font-weight: 700;
		}

		@include mq($tablet + 1, min) {
			font-size: 24px;
		}
	}

	ul {
		@include mq($phone + 1, min) {
			display: flex;
			flex-wrap: wrap;
		}

		li {
			margin-bottom: 76px;
			
			&:last-child {
				margin-bottom: 0;
			}

			@include mq($phone) {
				text-align: center;
			}

			@include mq($phone + 1, min) {
				display: flex;
				align-items: center;
				width: 100%;

				&:nth-child(2),
				&:nth-child(4) {
					justify-content: flex-end;
				}
			}

			@include mq($tablet-l + 1, min) {
				width: 50%;
				margin-bottom: 107px;
				&:nth-last-child(2) {
					margin-bottom: 0;
				}
			}

			@include mq($lap-large + 1, min) {
				&:nth-child(2),
				&:nth-child(4)  {
					transform: translateX(45px);
				}
			}

			.image {
				@include mq($phone + 1, min) {
					width: 150px;

					@include mq($tablet + 1, min) {
						width: 180px;
					}
				}

				img {
					width: 94px;
					margin: 0 auto;

					@include mq($tablet + 1, min) {
						width: 112px;
					}
				}
			}

			p {
				font-size: 20px;
				flex: 1;
				line-height: 1.4;
				color: $gray-b5;
				position: relative;
				margin-bottom: 0;
				span {
					display: block;
				}
				@include mq($phone + 1, min) {
					padding-left: 36px;
					max-width: 375px;
				}
				@include mq($tablet + 1, min) {
					font-size: 24px;
					max-width: 445px;
				}

				&::before {
					position: absolute;
					content: '';
					background-color: $main-blue;
					margin: auto;
				}
				
				@include mq($phone) {
					margin-top: 58px;

					&::before {
						height: 6px;
						width: 100px;
						left: 0;
						right: 0;
						top: -26px;
					}
				}

				@include mq($phone + 1, min) {
					&::before {
						height: 60px;
						width: 6px;
						left: 0;
						top: 0;
						bottom: 0;
					}
				}
			}
		}
	}
}