/*--------------------------------------------------------------
## Search Results & Archive
--------------------------------------------------------------*/
.search-results-wrapper {
    padding-top: 150px;
    padding-bottom: 100px;
    background-image: url('assets/images/streamer-top.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 1440px;

    @include mq($phone + 1, min) {
        padding-top: 185px;
        padding-bottom: 120px;
    }

    @include mq($tablet + 1, min) {
        padding-top: 233px;
        padding-bottom: 140px;
    }
    
    @include mq($tablet-l + 1, min) {
        background-size: 1920px;
    }

    .page-header {
        margin-bottom: 48px;

        h1.page-title {
            font-size: 30px;
            font-weight: 500;
            position: relative;
            margin-bottom: 0;

            @include mq(992, min) {
                font-size: 36px;
            }

            &::before {
                position: relative;
                content: '';
                background-color: $gray-77;
                height: 6px;
                width: 100px;
                display: block;
                margin-bottom: 18px;
            }
        }

        span.search-results {
            color: $gray-77;
            font-size: 18px;

            @include mq(991 + 1, min) {
                font-size: 20px;
            }
        }
    }

    .streamers-filtering {
        margin-bottom: 0;
        .streamers-ul {
            margin-bottom: 0;
        }
    }
}